@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #050505;
  color: #f5f5f5;
}

#__next,
html,
body {
  min-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
